@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.react-grid-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.react-grid-item.react-draggable-dragging {
    opacity: 0.7;
    z-index: 100;
    transition: none;
}

.react-grid-item.react-grid-placeholder {
    background: hsl(var(--primary) / 0.15);
    border: 2px dashed hsl(var(--primary) / 0.4);
    border-radius: 0.5rem;
    opacity: 0.8;
    transition-duration: 100ms;
}

.react-resizable-handle::after {
    border-color: hsl(var(--primary) / 0.5) !important;
    border-width: 0 2px 2px 0;
}

/* .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top, width;
} */

.react-grid-item {
    transition: none;
}

.react-grid-item.cssTransforms {
    transition-property: transform, width;
}

.react-grid-item.resizing {
    transition: none;
    z-index: 100;
}
